# SILOKA - Konfigurasi Lingkungan & Basis Data PostgreSQL

NODE_ENV=development
PORT=3000

# Basis Data Relasional Resmi: PostgreSQL 15+
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=siloka_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/siloka_db?sslmode=disable

# Konfigurasi Keamanan & TTE BSrE BSSN
BSRE_API_ENDPOINT=https://bsre.bssn.go.id/api/v2
BSRE_CLIENT_ID=unsil_siloka_prod
BSRE_CLIENT_SECRET=secret_key_siloka
AES_MASTER_KEY=unsil-siloka-secure-master-aes-key-256

